html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

.hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #1f2937;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

ul {
  display: flex;
  gap: 30px;
}

.btn {
  width: 150px;
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 24px;
  cursor: pointer;
  background-color: #3882f6;
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero-main {
  display: flex;
  margin-bottom: auto;
  gap: 20px;
}

.hero-main-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.btn-signup-primary {
  border: none;
}

.hero-main-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  color: #e5e7eb;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

a,
a:visited,
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding-left: 15%;
  padding-right: 15%;
}

.info-header {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.cards {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.card {
  height: 200px;
  width: 175px;
}

.card-image {
  height: 100%;
  width: 100%;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

.card-text {
  margin-top: 10px;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 800;
  color: #1f2937;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.call-to-action {
  display: flex;
  height: 50%;
  width: 75%;
  background-color: #3882f6;
}

.call-to-action-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 67%;
}

.call-to-action-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.call-to-action-main-text {
  font-size: 24px;
  /* font-weight: 700; */
  color: #f9faf8;
}

.call-to-action-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.btn-signup-secondary {
  border: 2px solid #f9faf8;
}

.footer {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
}
